<tt-field-abstract [fieldInstance]="field" [fieldId]="id" [label]="label" [extraParams]="{min: minValue, max: maxValue}">
    <div class="input-group">
        <input
            [id]="id"
            currencyMask
            class="form-control" [(ngModel)]="value" name="value"
            [required]="isRequired"
            [attr.placeholder]="placeholder"
            [options]="{'prefix': '', align: 'left', precision: 0, thousands: ''}"
            [min]="minValue"
            [max]="maxValue"
            #field="ngModel">
        <div class="input-group-prepend" *ngIf="hasValidation()">
            <div class="input-group-text">
                <i class="fa" [ngClass]="[field.errors? 'fa-times text-danger' : 'fa-check text-success']"></i>
            </div>
        </div>
    </div>

    <!--{{field.errors | json}}-->
</tt-field-abstract>
